@tailwind base;
@tailwind components;
@tailwind utilities;

.login-icon {
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}
